@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Racing+Sans+One&display=swap');

body{
    font-family: 'Odibee Sans', cursive; font-family: 'Racing Sans One', cursive;
    background-color: cyan;
    text-align: center;
    padding: 20px;
}

h1{
    color: rgb(40, 93, 255);
    font-size: 50px;
    padding: 10px;
}

h2{
    color: rgb(16, 82, 82);
    padding: 10px;
}

p{
    padding: 10px;
    font-size: 20px;
}

img{
    border: 5pxs solid black;
    border-radius: 25px;
}

#avtar{
    width: 300px;
    height: 300px;
}

#Ambition{
    width: 600px;
    height: 400px;
}